<div class="container d-flex flex-column align-items-center">
  <h2 class="mt-4">Secretaria Online</h2>
  <div class="my-4 d-lg-flex justify-content-center align-items-center w-100">
    <p class="my-0 px-lg-3 mb-4 mb-lg-0">
      O objetivo dessa aplicação é testar as habilidades técnicas dos(as) novos(as) instrutores(as) de desenvolvimento web front-end.
      <br><br>
      A Generation está buscando instrutores para facilitar treinamentos para jovens beneficiados pelo Programa Generation - Desenvolvedor Java Jr. O programa busca qualificar e inserir jovens no mercado de trabalho com uma formação rápida no estilo bootcamp.
      <br><br>
      O instrutor será responsável por facilitar sessões nas quais os jovens desenvolverão habilidades técnicas e socioemocionais para qualificá-los para vagas em empregadores parceiros da Generation.
    </p>
    <div class="embed-responsive embed-responsive-16by9 col-lg-6">
      <iframe class="border-0" src="https://www.youtube.com/embed/kdGWKGM7yoA?rel=0">
      </iframe>
    </div>
  </div>
</div>