#home-link {
  color: black;
  font-size: 1.3rem;
  margin: 0;
}

.nav-link {
  color: #aaa;
}

.nav-link:hover {
  color: #555;
}

.active {
  color: black;
}

#footer-social-container {
  background-color: #4d535a;
}

#social-text {
  font-size: 1.2rem;
}

.social-logo {
  width: 40px;
  cursor: pointer;
}

#footer-copyright-container {
  background-color: #2b3138;
}
