<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <a
  class="nav-link d-flex align-items-center"
  id="home-link"
  routerLink="/home"
  (click)="routeSelected($event)"
  >
    Home
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse ml-4 ml-sm-0" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" (click)="routeSelected($event)">
        <a class="nav-link" routerLink="/participantes">Lista de Participantes</a>
      </li>
      <li class="nav-item dropdown" (click)="routeSelected($event)">
        <a class="nav-link dropdown-toggle"
        data-toggle="dropdown"
        href="#"
        role="button"
        aria-haspopup="true"
        aria-expanded="false"
        >
          Cadastro
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" routerLink="/participante/novo/cadastrar">Participante</a>
          <a class="dropdown-item" routerLink="/turma/nova/cadastrar">Turma</a>
        </div>
      </li>
    </ul>
  </div>
</nav>